body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box, .display-box {
  display: flex; 
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}

.display-box {
  align-items: center;
  justify-content: center;
}

.custom-center > div {
  display: flex;
  align-items: center;
}

.custom-full {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  height: 10vh;
  max-height: 10vh;
  padding: 10px;
  background-color: white;
}

.content-container {
  height: 90vh;
  max-height: 90vh;
}

.left-panel-container {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  background-color: whitesmoke;
}

.result-container {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.my-favourites > div {
  display: flex;
}

.news-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.news-header .MuiCardHeader-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-content {
  flex-grow: 1;
}

.news-content .MuiTypography-body2 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.fave-item {
  background-color: white;
}